@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --custom-purple: rgb(37, 0, 91); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes orbit {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes orbit-reverse {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}


.animate-orbit {
  animation: orbit linear infinite;
}
.animate-orbit-reverse {
  animation: orbit-reverse linear infinite;
}
